*{
  margin: 0;
}
  
.godzilla{
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin: 1%;
  padding: 1%;
  background-color: rgba(250, 215, 17, 0.664);
}

.navheaders ul {
display: flex;
gap: 2rem;
}
.navheaders ul li a{
text-decoration: none;
}
.navheaders ul li {
list-style: none;
}

.baseicons{
  display: flex;
  gap: 1rem;
}
span{
color: red;
}

.securecontainer{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.cartwrapper{
  background-color: antiquewhite;
  padding: 3%;
  margin: 3%;

}
.secureinfo{
  display: flex;
  margin: 2%;
}
.cartimg{
  width: 20%;
  height: 30vh;
}
.productwrapper{
  display: flex;
  justify-content: center;
  margin: 2%;
  background-color: rgba(247, 245, 241, 0.575);
  border-radius: 15px;
}
.productdetail{
  padding: 2%;
}